:root {
  --spacing: 20px;
  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: var(--spacing);
  background: linear-gradient(to right, #56ccf2, #2f80ed);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  max-width: 400px;
  margin: 0 auto;
}
